title: emptybraces
subtitle: An indie game developer with expertise in Unity.
description: >- # this means to ignore newlines until "baseurl:"
  emptybraces's portfolio site.

url: "" # the base hostname & protocol for your site, e.g. https://example.github.io
baseurl: "" # the subpath of your site, e.g. /blog

# Navigation
urls:
    - text: Home
      url: /
    - text: Gallery
      url: /gallery


# Edit Author details (For multi authors check _data/authors.yml)

author_logo: profile.png
author: emptybraces
author_bio: I have worked as a game programmer for many years, and recently I’ve been focusing on character modeling and add-on development in Blender. My goal is to become a solo game creator.
author_email: "motose6★gmail.com"
author_location: Tokyo
# author_website_url: "https://emptybraces.github.io/"
typewrite-text: test
hero_cover_img: sample_cover.jpg # replace this for changing homepage cover (eg. try cover.jpeg). Image should be in /assets/img

# Experiences
author_work_experiences:
            - company_name: Creative Studio(Inc.)
              company_logo: salary1.png
              company_url: 
              designation: Client Game Programmer (2011-2012)
              description: Worked on the client development of game software for PSP and NintendoDS.
              visibility: true
            - company_name: Web SES(Inc.)
              company_logo: salary2.png
              company_url: 
              designation: Web Application Programmer (2012-2014)
              description: Worked on the development of a large-scale financial system, gaining experience in both client and server side.
              visibility: true
            - company_name: Game Studio(Inc.)
              company_logo: salary3.png
              company_url: 
              designation: Full-Stack Programmer (2016-present)
              description: Worked on game software development using Unity, creating games for Nintendo Switch, PS4, and Steam.
              visibility: true

# Projects
author_project_details:
              - project_thumbnail: ebs.jpg
                visibility: true
                project_title: Essential Brush Saver
                project_description: Automatically save/load essential brush settings.
                project_url_label: BLENDER EXTENSIONS
                project_url: https://extensions.blender.org/add-ons/essential-brush-saver/

              - project_thumbnail: mpm.jpg
                visibility: true
                project_title: My Best Pie Menu Ever
                project_description: An addon for quick access to brushes and frequently used features.
                project_url_label: BLENDER EXTENSIONS
                project_url: https://extensions.blender.org/add-ons/my-best-pie-menu-ever/

              - project_thumbnail: reference_selector.png
                visibility: true
                project_title: Reference Selector
                project_description: Streamlines your workflow by providing an intuitive selection history and efficient reference field assignment.
                project_url_label: UNITY ASSET STORE
                project_url: https://assetstore.unity.com/packages/slug/308300
                project_page_label: ONLINE MANUAL
                project_page: https://emptybraces.github.io/Unity-ReferenceSelector-OnlineManual


# social links
twitter_username: emptybraces
github_username:  emptybraces
#instagram_username: xplor4r
# facebook_username: johndoe
# linkedin_username: johndoe
# behance_username: johndoe
# medium_username: johndoe
# telegram_username: johndoe
# dribbble_username: johndoe
# flickr_username: johndoe

#for comments ( we got Disqus and Hyvor Commenting, uncomment the one you want to use )

# disqus_shortname: sujay-kundu
# hyvor_talk_website_id: 476

# wakatime username (coding activity)
wakatime_username: emptybraces

# mailchimp embedded form url (newsletter):
mailchimp_form_url: 

# contact form - (choose formspress or getform)
# getform_endpoint: 83b703c3-9e47-4df4-ac55-e24d7eb02abc
# formspree_email: motose6@gmail.com

# releases - widget can be (sidebar, modal or embed)
olvy_organization: devlopr
olvy_widget_type: sidebar

# syntax highlighter
markdown: kramdown
highlighter: rouge
permalink: pretty

# Choose what to show ( can be true or false)
show_author_work_experiences: true
show_author_education_details: false
show_author_project_details: true

# pagination of posts
paginate: 4
per_page: 4
paginate_path: "/blog/page/:num/"

# minify
# compress_html:
#   clippings: all
#   comments: ["<!-- ", " -->"]
#   endings: all
#   ignore:
#     envs: ['development']

# Archives
# jekyll-archives:
#   enabled:
#     - categories
#   layout: archive
#   permalinks:
#     category: '/category/:name/'

collections:
  products:
    output: true
  authors:
    output: true

defaults:
  -
    scope:
      path: "gallery"
    values:
      permalink: /:path/:basename:output_ext
  -
    scope:
      path: ""
      type: authors
    values:
      layout: author
      permalink: /blog/authors/:slug
  -
    scope:
      path: 'assets/**'
    values:
      sitemap: false

# Build settings
plugins:
  - jekyll-paginate
  - jekyll-gist
  - jekyll-seo-tag
  - jekyll-sitemap
  # - jekyll-feed

  # jekyll admin is causing issues with github pages, so it's disabled by default
  # - jekyll-admin 

# Jekyll Admin Config
# jekyll_admin:
  # hidden_links:
  #   - posts
  #   - pages
  #   - staticfiles
  #   - datafiles
  #   - configuration
  # homepage: "posts"


# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.

### Switching Deployment Strategy (in DEPLOY_STRATEGY) file change the key accordingly:
# none - For no default
# gh-pages - For Github Pages
# firebase - For Firebase Hosting

sass:
  sass_dir: _sass
  style: compressed

exclude:
  - .sass-cache/
  - .jekyll-cache/
  - gemfiles/
  - Gemfile
  - Gemfile.lock
  - node_modules/
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
  - assets/bower_components/isotope-layout/README.md
  - assets/bower_components/icono/README.md
  - assets/bower_components/font-awesome/advanced-options/use-with-node-js/fontawesome-svg-core/README.md
  - assets/bower_components/ghosthunter/README.md
  - assets/bower_components/nanobar/README.md
  - assets/bower_components/lightgallery/demo/README.md
  - assets/bower_components/font-awesome/advanced-options/use-with-node-js/free-brands-svg-icons/README.md
  - assets/bower_components/font-awesome/advanced-options/use-with-node-js/free-solid-svg-icons/README.md
  - assets/bower_components/jquery-mousewheel/README.md
  - assets/bower_components/get-size/README.md
  - assets/bower_components/font-awesome/advanced-options/use-with-node-js/fontawesome/README.md
  - assets/bower_components/jquery-mousewheel/ChangeLog/README.md
  - assets/bower_components/font-awesome/advanced-options/use-with-node-js/fontawesome-free-regular/README.md
  - assets/bower_components/desandro-matches-selector/README.md
  - assets/bower_components/ev-emitter/README.md
  - assets/bower_components/font-awesome/README.md
  - assets/bower_components/font-awesome/advanced-options/use-with-node-js/fontawesome-free-solid/README.md
  - assets/bower_components/font-awesome/advanced-options/use-with-node-js/fontawesome-free/README.md
  - assets/bower_components/font-awesome/advanced-options/use-with-node-js/fontawesome-free-webfonts/README.md
  - assets/bower_components/font-awesome/advanced-options/use-with-node-js/fontawesome-free-brands/README.md
  - assets/bower_components/font-awesome/advanced-options/use-with-node-js/fontawesome-common-types/README.md
  - assets/bower_components/ghosthunter/example/Index.html
  - assets/bower_components/lightgallery/test/lightgallery.html
  - assets/bower_components/masonry-layout/README.md
  - assets/bower_components/imagesloaded/README.md


destination: ./build
