---
layout: default
---

<div class="col-lg-14">
	<div class="row">
		{%- include reference_selector/sidebar.html -%}
		<div class="col-lg-8" id="content">
			<ol>
				<li>
					{%- include test/test.html -%}
					{%- include test/test2.html -%}
				</li>
			</ol>
		</div>
	</div>
</div>
<script>
	document.querySelectorAll('.toc-link').forEach(link => {
		link.addEventListener('click', event => {
			event.preventDefault();
			document.querySelectorAll('.manual-content-section').forEach(section => {
				section.classList.remove('active');
			});
			const targetId = link.getAttribute('data-target');
			const targetContent = document.getElementById(targetId);
			if (targetContent) {
				targetContent.classList.add('active');
			}
		});
	});
</script>
