---
---

@import "devlopr";

.example-main {
  color: blue;
}
.glitch-wrapper {
  position: relative;
  display: inline-block;
  overflow: visible;
}

.glitch-wrapper img {
  display: block;
}

.vhs-slice {
  position: absolute;
  left: 0;
  right: 0;
  background: inherit;
  mix-blend-mode: screen;
  pointer-events: none;
}

.infect-letter {
    position: relative;
    display: inline-block;
}

.infect-letter .overlay {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    white-space: pre;
}