---
layout: default
---
<div class="col-lg-15">
	<div class="row">
		<div class="col-lg-3">
			<div class="card">
				<div class="card-header">
					<p>Reference Selector</p>
				</div>
				<div class="card-body text-dark manual-tree">
					<li class="tag-head"><a href="#" data-target="content1" class="toc-link">content1</a></li>
					<li class="tag-head"><a href="#" data-target="content2" class="toc-link">content2</a></li>
				</div>
			</div>
		</div>
		<div class="col-lg-12" id="content">
			<ol>
				<li>
					{%- include test/test.html -%}
					{%- include test/test2.html -%}
				</li>
			</ol>
		</div>
	</div>
</div>
<script>
	document.querySelectorAll('.toc-link').forEach(link => {
		link.addEventListener('click', event => {
			event.preventDefault();
			document.querySelectorAll('.manual-content-section').forEach(section => {
				section.classList.remove('active');
			});
			const targetId = link.getAttribute('data-target');
			const targetContent = document.getElementById(targetId);
			if (targetContent) {
				targetContent.classList.add('active');
			}
		});
	});
</script>
